td{
	width: 100px;
	height: 100px;
}
.nilai{
	font-size: 60px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}
ul#sarapan li{
	color: green;
}
ul#sarapan li.favorit{
	color: red;
}